body {
	margin-top: 2%;
	background-color: #EEF5CA;
	font-family: 'Neuton', serif;
}

hr {
	margin-top: 5px;
	border-color: #222;
}

h3 {
	margin-top: 3px;
}

i {
	text-decoration: none;
	color: #3F5478;
}

i:hover {
	color: #AEBF96;
}

iframe {
	width: 850px;
	height: 1135px;
	border: none;
	overflow: hidden;
}

ul {
    padding: 0;
    list-style-type: none;
}

a:hover {
	text-decoration: none;
}

legend {
	color: #AEBF96;
}

input {
	border-radius: 0%;
}

.icon {
	font-size: 16px;
	margin-top: 15%;
	width: 80px;
}

.row {
	margin-bottom: 8px;
}

.block {
	text-align: center;
}

.socialRow {
	margin-bottom: 1%;
}

.projectPreview {
	width: 100%;
}

.projectPreview:hover {
	opacity: 0.8;
}

.peerQuote {
	animation-duration: 0.5s;
	border: none;
	background-color: #AEBF96;
	padding: inherit;
	padding-left: 1%;
}

.icon-block {
	text-align: center;
}

.icon-label {
	font-size: 20px;
}

.btn-info {
	width: 140px;
	color: #444;
	background-color: #AEBF96;
	border: none;
  border-radius: 0px;
}

.btn-info:hover {
	background-color: #3F5478;
}

.reference {
		font-size: 14px;
		text-align: center;
		padding: 0px;
	}

.social-container {
	margin-left: 1.75px;
}

/*.social-row{
	margin-left: -0.5%
	margin-right: -0.5%
}*/

.social-block {
	background-color: #2B302E;
	color: black;
	padding-top: 1%;
	/*margin-left: 1%;*/
	height: 133px;
	width: 49%;
	font-size: 40px;
	text-align: center;
	line-height: 120px;
}

.projectTitle {
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-header {
	margin-right: 5px;
	float: right;
}

.fa-file-text {
	margin-top: 40px;
}

.resumeDiv {
	padding-left: 7%;
	margin-top: 20px;
}

.contact-link {
	margin-top: 20px;
	float: right;
	color: #3F5478;
	text-decoration: none;
}

.contact-link:hover {
	text-decoration: none;
}

.form-label {
	font-size: 16px;
}

.form-control {
	border-radius: 0%;
}

.emailForm {
	margin-top: 2%;
	background-color: #2B302E;
	color: #AEBF96;
}

.contactBlock {
	margin-top: 2%;
}

.portfolioProject {
	margin-left: 8%;
	padding-top: 20px;
	height: 150px;
}


#blurb1 {
	height: 120px
}

#blurb2 {
	width: 100%;
	height: 120px;
	/*margin-left: 8px;*/
	background-color: #2B302E;
	color: #eee;
}

#tag-line {
	padding: 1% 0 3% 0;
}

#blurb {
	font-size: 25px;
}

#project1 {
	height: 270px;
	/*width: 33%;
	margin-right: 8px;*/
	background-color: #3F4033;
	color: #AEBF96;
}

#project2 {
	height: 270px;
	/*width: 33%;*/
	background-color: #3F5478;
}

#project3 {
	width: 30%;
}

#plainTextLabel {
	font-size: 12px;
	color: #AEBF96;
}

#my-name {
	font-size: 26px;
}

#travis {
	font-family: 'Eczar', serif;
	color: #3F5478;
	animation-delay: 0.75s;
}

#seattle {
	font-family: 'Eczar', serif;
	color: #4ea701;
}

#secondSentence {
	margin-left: 22%;
	animation-delay: 1.5s;
}

#linkedin-block {
	margin-left: 0%;
}

#email-block {
	margin-left: 0%;
}

#resume-block {
	margin-left: 1%;
}

#github-block {
	margin-left: 1%;
}

#resumeFrame {
	animation-delay: 0%;
}

#submit-button {
	margin-top: 10px;
}

#yammerings {
	background-color: #3F4033;
	margin-right: 2.5px;
}

#randomQuote {
	background-color: #3F5478;
	margin-left: 2.5px;
}

#twitchProject {
	background-color: #AEBF96;
	margin-right: 2.5px;
}

#yahtzeeProject {
	background-color: #2B302E;
	margin-left: 2.5px;
}

#pedalPals {
	background-color: #3F4033;
	margin-right: 2.5px;
}

#twitterProject {
	background-color: #3F5478;
	margin-left: 2.5px;
}

#yammeringsDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

#quotesDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

#twitchDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

#yahtzeeDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

#pedalDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

#twitterDescription {
	padding: 10px;
	padding-top: 25%;
	text-align: center;
	opacity: 0;
}

.portfolio-link p {
		font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: #2B302E;
    color: #eee;
    opacity:0;
    transition:0.75s;
}

.portfolio-link:hover #yammeringsDescription {
	opacity: 0.9;
}

.portfolio-link:hover #quotesDescription {
	opacity: 0.9;
}

.portfolio-link:hover #twitchDescription {
	opacity: 0.9;
}

.portfolio-link:hover #yahtzeeDescription {
	opacity: 0.9;
}

.portfolio-link:hover #pedalDescription {
	opacity: 0.9;
}

.portfolio-link:hover #twitterDescription {
	opacity: 0.9;
}

@media (min-width: 768px) {
	/*.reference {
		width: 50%;
	}*/

	.projectPreview {
		height: 200px;
	}

	.portfolioProject {
		height: 265px;
	}

	.social-container {
		margin-left: 4px;
	}

	.icon {
		margin-left: 10%;
	}

	#resume {
		padding-left: 5px
	}

	#blurb1 {
		padding: 3px;
		height: 205px;
	}

	#blurb2 {
		padding: 3px;
		height: 205px;
	}

	#project1 {
		height: 335px;
	}

	#project2 {
		height: 335px;
	}
}

@media (min-width: 1200px) {
	.icon {
		margin-left: 0px;
	}

	.reference {
		width: 33%;
		padding-right: 0%;
		padding-left: 0%;
		font-size: 17px;
		text-align: left;
	}

	.social-container {
		margin-left: 0px;
	}

	.portfolioProject {
		height: 300px;
	}

	#blurb {
		font-size: 35px;
	}

	#project1 {
		height: 270px;
		width: 33%;
		margin-right: 8px;
	}

	#project2 {
		height: 270px;
		width: 33%;
	}

	#blurb {
		font-size: 40px;
	}

	#blurb1 {
		font-size: 17px;
		height: 290px;
	}
	
	#blurb2 {
		font-size: 17px;
		margin-left: 8px;
		height: 290px;
	}

	#linkedin-block {
		margin-left: 1%;
	}

	#email-block {
		margin-left: 1%;
	}

}

@media (min-width: 1400px) {
	#resume {
		padding-left: 3%;
	}

	#blurb1 {
		height: 225px;
	}

	#blurb2 {
		height: 225px;
	}
}
