body {
	margin-top: 2%;
	background-color: #EEF5CA;
	font-family: 'Neuton', serif;
}

hr {
	border-color: #222
}

h3 {
	margin-top: 3px;
}

i {
	text-decoration: none;
	color: #3F5478;
}

.icon {
	margin-top: 15%;
	width: 80px;
}

.row {
	margin-bottom: 8px;
}

.block {
	text-align: center;
}

.socialRow {
	margin-bottom: 1%;
}

.projectPreview {
	width: 100%;
}

.peerQuote {
	border: none;
	background-color: #B3C49B;
	padding: inherit;
	padding-left: 1%;
  height: 215px;
}

.icon-block {
	text-align: center;
}

.icon-label {
	font-size: 20px;
}

.btn-info {
	width: 140px;
	color: #444;
	background-color: #B3C49B;
	border: none;
  border-radius: 0px;
}

.reference {
	font-size: 18px;
	padding-right: 0%;
	padding-left: 0%;
}

.social-block {
	background-color: #2B302E;
	color: black;
	padding-top: 1%;
	margin-left: 1%;
	height: 133px;
	width: 49%;
	font-size: 40px;
	text-align: center;
	line-height: 120px;
}

.projectTitle {
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-header {
	margin-right: 5px;
	float: right;
}

.fa-file-text {
	margin-top: 40px;
}

#efficiency {
	font-size: 18px;
	font-weight: bold;
	color: #4ea701;
}

#tag-line {
	padding: 1% 0 3% 0;
}

#blurb {
	font-size: 40px;
}

#project1 {
	height: 270px;
	width: 33%;
	margin-right: 8px;
	background-color: #3F4033;
	color: #B3C49B;
}

#project2 {
	height: 270px;
	width: 33%;
	background-color: #3F5478;
}

#project3 {
	width: 30%;
}

#plainTextLabel {
	font-size: 12px;
	color: #B3C49B;
}

#my-name {
	font-size: 26px;
}

#travis {
	font-family: 'Eczar', serif;
	color: #3F5478;
}

#seattle {
	font-family: 'Eczar', serif;
	color: #4ea701;
}

#secondSentance {
	margin-left: 22%;
}
