<nav class="navbar navbar-transparent" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id="my-name" class="navbar-brand" href="/Portfolio-V2/#!/">T.M.S</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="about-link"><a href="/Portfolio-V2/#!/about">About</a></li>
			<li class="work-link"><a href="/Portfolio-V2/#!/portfolio">Portfolio</a></li>
			<li class="contact-link"><a href="/Portfolio-V2/#!/contact">Contact</a></li>
		</ul>
	</div> --><!-- /.navbar-collapse -->
</nav>