<div class="row animated fadeIn">
	<div id="resume" class="col-xs-2 col-xs-offset-4 block">
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					PDF Resume
				</button>
			</a>
		</div>
	</div>
	<div id="resume" class="col-xs-2 block">
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					Plain Text Resume
				</button>
			</a>
		</div>
	</div>
</div>
<div class="row animated fadeIn" style="background-color: #3f4033; padding-bottom: 15px">
	<div class="col-xs-offset-1 resumeDiv">
	<iframe src="https://resume.creddle.io/resume/81972tepsvv" seamless="" scrolling="no"></iframe>
	</div>
</div>