<div class="col-lg-10 animated fadeIn emailForm">
	<div class="row">
		<div class="col-sm-12 divider">
			<legend>Email Form</legend>
		</div>
	</div>
	<div class="row animated fadeIn">
		<form role="form" class="form" method="POST" action="mailto:smithtm90@gmail.com">
			<div class="col-sm-6">
			 	<div class="form-group">
			    	<label for="pwd" class="form-label">Your Name</label>
			    	<input type="text" class="form-control" name="name">
			 	</div>
			 	<div class="form-group">
			    	<label for="title" class="form-label">Your Title</label>
			    	<input type="text" class="form-control" name="title">
			 	</div>
			</div>
			<div class="col-sm-6">
			 	<div class="form-group">
			    	<label for="email" class="form-label">Your Email</label>
			    	<input type="email" class="form-control" name="email">
			 	</div>
			 	<div class="form-group">
			    	<label for="email" class="form-label">Your Company</label>
			    	<input type="text" class="form-control" name="company">
			 	</div>
		 	</div>
		 	<div class="col-sm-12">
			 	<div class="form-group">
			 		<label for="role" class="form-label">You are a:</label>
				 	<select class="form-control" name="role">
				 		<option>Please choose..</option>
						<option>Friend</option>
						<option>Colleague</option>
						<option>Recruiter</option>
						<option>Hiring Manager</option>
						<option>Other</option>
					</select>
				</div>
				<label for="message" class="form-label">Your Message</label>
		 		<textarea class="form-control" rows="10" name="msg"></textarea>
				<button id="submit-button" type="submit" name="submit" class="btn btn-info pull-right">
					Submit
				</button>
		 	</div>
		</form>
	</div>
</div>
<div class="col-lg-2 animated fadeIn contactBlock">
	<div class="row animated fadeIn">
		<div class="col-sm-12 divider">
			<legend style="color: black">Contact Info</legend>
		</div>
	</div>
	<div class="row animated fadeIn" id="contact-details">
		<div class="col-xs-12">
			<span class="icon">
				<a href="">
					<i class="fa fa-phone"></i>
				</a>
			</span>
			<span class="form-label"> Phone: </span>
			<small>(509) 638-4158</small>
		</div>
		<div class="col-xs-12">
			<span class="icon">
				<a href="mailto:smithtm90@gmail.com">
					<i class="fa fa-envelope-o"></i>
				</a>
			</span>
			<span class="form-label"> Email: </span>
			<small>smithtm90@gmail.com</small>
		</div>
	</div>
</div>