<div class="row">
	<div id="tag-line" class="col-sm-12">
    <p id="blurb">
    	Hello, my name is <span class="travis">Travis</span><br>
    	I'm a Full Stack Developer based out of <span class='seattle'>Seattle.</span>
    </p>
	</div>
</div>
<!--  -->

<div class="row">

	<div class="col-sm-8 reference">
		<div class="peerQuote" id="reference-block">
	  				<!-- <blockquote> -->
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum earum est praesentium, ut. Quasi ullam consequuntur placeat assumenda saepe eos asperiores nostrum similique nam possimus, omnis amet soluta beatae recusandae?</p>
					  <footer>NAME OF REFERENCE</footer>
					<!-- </blockquote> -->
		</div>
	</div>

	<div id="resume" class="col-sm-4 block">
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					Download PDF Resume
				</button>
			</a>
		</div>
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					Download Plain Text Resume
				</button>
			</a>
		</div>
	</div>
</div>

<div class="row">

	<div id="project1" class="col-sm-4 block">
		<div class="icon-label">Yammerings</div>
		<img class="projectPreview" src="img/Yammerings.png"></img>
		<h4>Twitter data visuals</h4>
		<hr style="width: 80%"></a>
	</div>
	<div id="project2" class="col-sm-4 block">
		<div class="icon-label">Twitter Lorem</div>
		<img class="projectPreview" src="img/TwitterLorem.png"></img>
		<h4>Twitter based filler-text generator</h4>
		<hr style="width: 80%"></a>
	</div>


	<div class="col-sm-4 social-container">
		<div class="row socialRow">
			<div class="col-xs-5 social-block" id="linkedin-block">
				<a href="https://www.linkedin.com/in/travis-smith-889699104"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="col-xs-5 plainTextBox">
				<label id="plainText"><a href=""><i class="fa fa-file-text"></i><br>View Resume</a></label>
			</div>
		</div>
		<div class="row socialRow">
			<div class="col-xs-5 social-block" id="email-block">
				<a href="mailto:smithtm90@gmail.com"><i class="fa fa-at"></i></a>
			</div>
			<div class="col-xs-5 social-block" id="github-block">
				<a href="http://github.com/SmithTM90"><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
</div>