<div class="row">
	<div id="tag-line" class="col-xs-12">
    <p id="blurb">
    	Hello, my name is <span id="travis">Travis</span><br>
    	<span id="secondSentance">I'm a Full Stack Developer based out of <span id='seattle'>Seattle</span>.</span>
    </p>
	</div>
</div>

<div class="row">

	<div class="col-xs-4 reference">
		<div class="peerQuote" id="reference-block">
						  <p>I am a web developer, working with up to date technologies to create sustainable and professional products. I am a firm believer that actions speak louder than words. I gained most of my developing knowledge through General Assembly in Seattle, the immersive course that I attended was top notch and I learned SO MUCH! I really enjoy developing because the possibilities are so vast, I can do so many things to create innovative solutions and bring them to light. <span id="efficiency">Efficiency is my game</span>.
						  </p>
		</div>
	</div>

	<div class="col-xs-4 reference">
		<div class="peerQuote" id="reference-block">
						  <p>Learning to utilize new skills as I progress as a developer is super exciting! I began my journey of becoming a developer in 2015 when I moved to Seattle, and it has been a wild ride. Web development came as a major career and life change for me when I moved back to Washington from my then-home in Missouri. When life gives you lemons, turn them into a new set of skills! When I'm not working on my development abilities, I enjoy music, games, and general merriment with a small group of friends and/or peers.
						  </p>
		</div>
	</div>

	<div id="resume" class="col-xs-2 block">
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					PDF Resume
				</button>
			</a>
		</div>
	</div>
	<div id="resume" class="col-xs-2 block">
		<div class="icon-block">
			<img class="icon" src="img/download.svg"></img><br>
			<a href="" target="_blank">
				<button class="btn btn-info" style="margin-top: 25px">
					Plain Text Resume
				</button>
			</a>
		</div>
	</div>
</div>

<div class="row">

	
	<div id="project1" class="col-xs-4 block">
		<div class="icon-label">Yammerings</div>
		<a href="/Portfolio-V2/#!/portfolio">
			<img class="projectPreview" src="img/Yammerings.png"></img>
		</a>
		<h3>Twitter data visuals</h3>
		<hr style="width: 80%"></a>
	</div>

	
	<div id="project2" class="col-xs-4 block">
		<div class="icon-label">Twitter Lorem</div>
		<a href="/Portfolio-V2/#!/portfolio">
			<img class="projectPreview" src="img/TwitterLorem.png"></img>
		</a>
		<h3>Twitter based filler-text generator</h3>
		<hr style="width: 80%"></a>
	</div>

	<div class="col-xs-4 social-container">
		<div class="row socialRow">
			<div class="col-xs-5 social-block" id="linkedin-block">
				<a href="https://www.linkedin.com/in/travis-smith-889699104"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="col-xs-5 social-block">
				<a href="/Portfolio-V2/#!/about"><i class="fa fa-file-text"><h5>View Resume</h5></i></a>
			</div>
		</div>
		<div class="row socialRow">
			<div class="col-xs-5 social-block" id="email-block">
				<a href="mailto:smithtm90@gmail.com"><i class="fa fa-at"></i></a>
			</div>
			<div class="col-xs-5 social-block" id="github-block">
				<a href="http://github.com/SmithTM90"><i class="fa fa-github"></i></a>
			</div>
		</div>
		<hr style="width: 80%">
	</div>
</div>