<div class="portHeader">
	<h1>My Projects</h1>
	<hr style="width: 60%;">
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/Yammerings.png"></img>
		<h4 class="projectTitle">Yammerings</h4>
		<hr style="width: 80%"></a>	
	</div>

	<div class="col-xs-5" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/RandomQuote.png"></img>
		<h4 class="projectTitle">Random Quotes</h4>
		<hr style="width: 80%"></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/TwitchApp.png"></img>
		<h4 class="projectTitle">Twitch App</h4>
		<hr style="width: 80%"></a>
	</div>

	<div class="col-xs-5" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/Yahtzee.png"></img>
		<h4 class="projectTitle">Yahtzee Game</h4>
		<hr style="width: 80%"></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/BikeRack.png"></img>
		<h4 class="projectTitle">Pedal Pals</h4>
		<hr style="width: 80%"></a>
	</div>

	<div class="col-xs-5" style="border: 1px solid black; height: 350px;">
		<img class="projectPreview" src="img/TwitterLorem.png"></img>
		<h4 class="projectTitle">Twitter Lorem</h4>
		<hr style="width: 80%"></a>
	</div>
</div>