<div class="portHeader">
	<h1>My Projects</h1>
	<hr style="width: 60%; float: left;">
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="height: 350px;">
		<a href="https://yammerings.herokuapp.com/" class="portfolio-link" data-toggle="modal" target="_blank"><img class="projectPreview" src="img/Yammerings.png"></img></a>
		<h4 class="projectTitle">Yammerings</h4>
		<hr style="width: 80%"></a>	
	</div>

	<div class="col-xs-5" style="height: 350px;">
		<a href="https://smithtm90.github.io/Random-Quote" class="portfolio-link" data-toggle="modal" target="_blank"><img class="projectPreview" src="img/RandomQuote.png"></img></a>
		<h4 class="projectTitle">Random Quotes</h4>
		<hr style="width: 80%"></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="height: 350px;">
		<a href="https://smithtm90.github.io/TwitchAPI"><img class="projectPreview" src="img/TwitchApp.png"></img></a>
		<h4 class="projectTitle">Twitch App</h4>
		<hr style="width: 80%"></a>
	</div>

	<div class="col-xs-5" style="height: 350px;">
		<a href="http://smithtm90.github.io/Yahtzee-Game/" class="portfolio-link" data-toggle="modal" target="_blank"><img class="projectPreview" src="img/Yahtzee.png"></img></a>
		<h4 class="projectTitle">Yahtzee Game</h4>
		<hr style="width: 80%"></a>
	</div>
</div>

<div class="row">
	<div class="col-xs-5 col-xs-offset-1" style="height: 350px;">
		<a href="https://github.com/SmithTM90/Pedal_Pals" class="portfolio-link" data-toggle="modal" target="_blank"><img class="projectPreview" src="img/BikeRack.png"></img>
		<h4 class="projectTitle">Pedal Pals</h4>
		<hr style="width: 80%"></a>
	</div>

	<div class="col-xs-5" style="height: 350px;">
		<a href="https://travis-twitterlorem.herokuapp.com/" class="portfolio-link" data-toggle="modal" target="_blank"><img class="projectPreview" src="img/TwitterLorem.png"></img></a>
		<h4 class="projectTitle">Twitter Lorem</h4>
		<hr style="width: 80%"></a>
	</div>
</div>