<div class="portHeader animated fadeIn">
	<h1>My Projects</h1>
	<hr style="width: 60%; float: left;">
</div>

<div class="row animated fadeIn">
	<div class="col-xs-5 col-xs-offset-1 portfolioProject" id="yammerings" style="height: 350px;">
		<a href="https://yammerings.herokuapp.com/" class="portfolio-link"  target="_blank">
		<p id="yammeringsDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
			<img class="projectPreview" src="img/Yammerings.png"></img>
		</a>
		<h4 class="projectTitle" style="color: #AEBF96;">Yammerings</h4>
		<hr style="width: 80%">	
	</div>

	<div class="col-xs-5 portfolioProject" id="randomQuote" style="height: 350px;">
		<a href="https://smithtm90.github.io/Random-Quote" class="portfolio-link"  target="_blank">
		<p id="quotesDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
		<img class="projectPreview" src="img/RandomQuote.png"></img></a>
		<h4 class="projectTitle">Random Quotes</h4>
		<hr style="width: 80%">
	</div>
</div>

<div class="row animated fadeIn">
	<div class="col-xs-5 col-xs-offset-1 portfolioProject" id="twitchProject" style="height: 350px;">
		<a href="https://smithtm90.github.io/TwitchAPI" class="portfolio-link"  target="_blank">
		<p id="twitchDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
		<img class="projectPreview" src="img/TwitchApp.png"></img></a>
		<h4 class="projectTitle">Twitch App</h4>
		<hr style="width: 80%">
	</div>

	<div class="col-xs-5 portfolioProject" id="yahtzeeProject" style="height: 350px;">
		<a href="http://smithtm90.github.io/Yahtzee-Game/" class="portfolio-link"  target="_blank">
		<p id="yahtzeeDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
		<img class="projectPreview" src="img/Yahtzee.png"></img></a>
		<h4 class="projectTitle" style="color: #AEBF96;">Yahtzee Game</h4>
		<hr style="width: 80%">
	</div>
</div>

<div class="row animated fadeIn">
	<div class="col-xs-5 col-xs-offset-1 portfolioProject" id="pedalPals" style="height: 350px;">
		<a href="https://github.com/SmithTM90/Pedal_Pals" class="portfolio-link"  target="_blank">
		<p id="pedalDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
		<img class="projectPreview" src="img/BikeRack.png"></img></a>
		<h4 class="projectTitle" style="color: #AEBF96;">Pedal Pals</h4>
		<hr style="width: 80%">
	</div>

	<div class="col-xs-5 portfolioProject" id="twitterProject" style="height: 350px;">
		<a href="https://travis-twitterlorem.herokuapp.com/" class="portfolio-link"  target="_blank">
		<p id="twitterDescription">Yammerings is a project that I worked on as a part of a 3 person Developer team.</p>
		<img class="projectPreview" src="img/TwitterLorem.png"></img></a>
		<h4 class="projectTitle">Twitter Lorem</h4>
		<hr style="width: 80%">
	</div>
</div>